.header-logo {
	width: 240px;
}

.topbar-icon {
	display: flex;
	gap: 8px;
}

.mobile-sidebar-social-link li a {
	display: flex;
	justify-content: center;
	align-items: center;
}

.video-section-bg {
	background-image: url("../img/bg/DJI_0258-min.JPG");
}

ul.highlight-block li {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 4px;
}

.floor-plan {
	background: #f2fbf5;
	padding: 20px;
}

.common-utilities-icon {
	display: flex;
	justify-content: center;
	align-items: center;
}

.testimonial-people-bg {
	background-image: url("../img/bg/TICEL-Testimonial-1.jpg");
}
.testimonial-bg {
	background-image: url("../img/bg/TICEL-Entrance-1.jpg");
	background-position: center;
}

@media (max-width: 480px) {
	ul.highlight-block {
		flex-direction: column;
	}
	ul.highlight-block li {
		border-right: unset;
		border-bottom: 1px solid;
		padding: 16px 0;
	}
	ul.highlight-block li:last-child {
		border: unset;
	}

	.common-utilities-icon img {
		width: 30px;
	}
}
